@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: "Open Sans", "sans-serif"; 
  --font-body: "Open Sans", "sans-serif";
  --text-14: 14px;
  --color-main-bg: #FAFBFB;
  --color-main-dark-bg: #20232A;
  --color-secondary-dark-bg: #33373E;
  --color-main-light-gray: #F7F7F7;
  --color-light-gray: #F7F7F70c;
  --color-half-transparent: rgba(0, 0, 0, 0.5);
  --color-color: rgba(0, 0, 0, 0.1); 
}

body {
    margin: 0;
    padding:0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    background-color: var(--color-secondary-dark-bg);
}

::-webkit-scrollbar {
  width: 4px; 
}
::-webkit-scrollbar-thumb {
  background: var(--color-main-light-gray);
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  margin-top: 90px;
  background: var(--color-main-dark-bg); 
}

.close {
  transition: all;
  transition-duration: 2000ms;
  transform: translateX(-500px);
}

.open {
  transition: all;
  transition-duration: 500ms;
  transform: translateX(0px);
}

.editorbutten {
  @apply bg-secondary-dark-bg p-1 rounded-xl hover:cursor-pointer
}

.editorbuttenon {
  @apply bg-yellow-500 p-1 rounded-xl hover:cursor-pointer
}

ul{
  @apply list-disc list-inside
}

li {
  /* @apply inline */
}

p {
  @apply block
}